:root {
    --dered: hsl(0, 36%, 70%);
    --softred: hsl(0, 93%, 68%);
    --dgred: hsl(0, 6%, 24%);
    --hover: hsl(0, 80%, 86%);
    --linearone: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    ;
    --lineartwo: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    ;
  }

body {
    margin: 0;
    font-family: 'Josefin Sans';
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: var(--linearone);
}

h1 {
    margin: 0;
}

header {
    padding-bottom: 100px;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
}

.main-image {
    display: none;
}

.left {
    display: flex;
    flex-direction: column;
    width: 57.5%;
    background: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.right {
    width: 42.5%;
    overflow: hidden;
    background: url('../images/mob.jpg') no-repeat ;
    background-size: cover;

}

.welcome {
    max-width: 420px;
    margin: auto ;
    margin-top: 64px;
    /* margin-left: 165px; */
}

.title {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 16px;
    font-weight: 300;
    padding-bottom: 0;
    color: var(--dered);
}
.subtitle {
    font-size: 4em;
    color: var(--dgred);
    text-transform: uppercase;
    letter-spacing: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.copy {
    font-size: 16px;
    color: var(--dered);
    font-weight: 500;
    line-height: 2em;
    padding-bottom: 24px;
}

.signup{
    position: relative;
}

input {
    border-radius: 24px;
    width: 100%;
    border: 1px solid var(--dered);
    height: 50px;
    box-sizing: border-box;
    padding: 24px;
    background: transparent; 
    outline: none;
    color: var(--dered);
}

#warning-message {
    color: red;
    font-size: 14px;
    display: none; /* Hide the warning message by default */
    margin-top: 5px;
    padding: 24px;
    padding-top: 8px;
}

input::placeholder {
    color: var(--dered);
}

.signup input:focus {
    border:2px solid var(--dered);
}

.warning {
    position: absolute;
    top: 15px;
    right: 110px;
    display: none;
    height: 50px;
}

button {
    width: 100px;
    height: 50px;
    display: inline-block;
    border: none;
    border-radius: 50px;
    background: var(--lineartwo);
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 8px 15px var(--hover);
}

button:hover{
    background: var(--hover);
    cursor: pointer;
}





@media (max-width: 800px) {
    body {
        /* Your mobile styles go here */
        font-size: 14px;
        /* Add more mobile-specific styles as needed */
        text-align: center;
        margin: 0;

    }

    main {
        margin:0;
        height: auto;
    }

    header {
        text-align: left;
        padding-bottom: 40px;
    }

    .main-image {
        display: block;
        max-height: 30vh;
        width: 100vw;
        overflow: hidden;
        margin-left: -40px;
    }

    .title {
        padding-top: 80px;
    }

    .left {
        width: 100vw;
    }


    .welcome {
        max-width: max-content;
        margin: 40px;
    }


    .right {
        display: none;
    }
    
}